<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.3"?>
<!--
 (C) University Pierre & Marie Curie - UMR CNRS 7606 (LIP6/MoVe)
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
  
  Contributors: 
    Lom HILLAH (LIP6) - Initial API and implementation
    Rachid Alahyane (UPMC) - Infrastructure and continuous integration
    Bastien Bouzerau (UPMC) - Architecture
    Guillaume Giffo (UPMC)  - Code generation refactoring, high-level API

 $Id$
-->
<plugin>
   <extension-point id="fr.lip6.move.pnml.framework.userPNMLType" name="%extension-point.name" schema="schema/fr.lip6.move.pnml.framework.userPNMLType.exsd"/>

</plugin>
