<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="fr.lip6.pnml.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-03"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.17.1.v20220309-0840"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.29.0.v20220226-1304"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
			<unit id="javax.activation" version="1.1.0.v201211130549"/>
			<unit id="javax.annotation" version="1.3.5.v20200909-1856"/>
			<unit id="javax.annotation.source" version="1.3.5.v20200909-1856"/>
			<unit id="javax.ejb" version="3.1.1.v201204261316"/>
			<unit id="javax.ejb.source" version="3.1.1.v201204261316"/>
			<unit id="javax.el" version="2.2.0.v201303151357"/>
			<unit id="javax.el.source" version="2.2.0.v201303151357"/>
			<unit id="javax.inject" version="1.0.0.v20091030"/>
			<unit id="javax.inject.source" version="1.0.0.v20091030"/>
			<unit id="javax.jms" version="1.1.0.v201205091237"/>
			<unit id="javax.jms.source" version="1.1.0.v201205091237"/>
			<unit id="javax.jws" version="2.0.0.v201005080400"/>
			<unit id="javax.jws.source" version="2.0.0.v201005080400"/>
			<unit id="javax.mail" version="1.4.0.v201005080615"/>
			<unit id="javax.mail.glassfish" version="1.4.1.v201108011116"/>
			<unit id="javax.mail.glassfish.source" version="1.4.1.v201108011116"/>
			<unit id="javax.management" version="1.2.0.v20100427-1100"/>
			<unit id="javax.management.remote" version="1.0.0.v20100427-1100"/>
			<unit id="javax.persistence" version="1.0.0.v200905011740"/>
			<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
			<unit id="javax.resource" version="1.6.0.v201204270900"/>
			<unit id="javax.resource.source" version="1.6.0.v201204270900"/>
			<unit id="javax.security.auth.message" version="1.0.0.v201108011116"/>
			<unit id="javax.security.auth.message.source" version="1.0.0.v201108011116"/>
			<unit id="javax.security.jacc" version="1.4.0.v201205031350"/>
			<unit id="javax.security.jacc.source" version="1.4.0.v201205031350"/>
			<unit id="javax.servlet" version="3.1.0.v201410161800"/>
			<unit id="javax.servlet.jsp" version="2.2.0.v201112011158"/>
			<unit id="javax.servlet.jsp.jstl" version="1.2.0.v201105211821"/>
			<unit id="javax.servlet.jsp.jstl.impl" version="1.2.0.v201210211230"/>
			<unit id="javax.servlet.jsp.jstl.impl.source" version="1.2.0.v201210211230"/>
			<unit id="javax.servlet.jsp.jstl.source" version="1.2.0.v201105211821"/>
			<unit id="javax.servlet.jsp.source" version="2.2.0.v201112011158"/>
			<unit id="javax.servlet.source" version="3.1.0.v201410161800"/>
			<unit id="javax.transaction" version="1.1.1.v201105210645"/>
			<unit id="javax.transaction.source" version="1.1.1.v201105210645"/>
			<unit id="javax.validation" version="1.1.0.v20200505-2127"/>
			<unit id="javax.validation.source" version="1.1.0.v20200505-2127"/>
			<unit id="javax.websocket" version="1.0.0.v20140310-1603"/>
			<unit id="javax.websocket.source" version="1.0.0.v20140310-1603"/>
			<unit id="javax.ws.rs" version="2.1.6.v20200505-2127"/>
			<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
			<unit id="javax.wsdl.source" version="1.6.2.v201012040545"/>
			<unit id="javax.xml" version="1.3.4.v201005080400"/>
			<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
			<unit id="javax.xml.bind.source" version="2.2.0.v201105210648"/>
			<unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
			<unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
			<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
			<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
			<unit id="javax.measure.unit-api" version="1.0.0.v20170818-1538"/>
			<unit id="javax.measure.unit-api.source" version="1.0.0.v20170818-1538"/>
			<unit id="javax.ws.rs.source" version="2.1.6.v20200505-2127"/>
			<unit id="javax.activation" version="2.0.0.v20201118-1818"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.ws.commons.axiom</groupId>
					<artifactId>axiom-api</artifactId>
					<version>1.3.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.thaiopensource</groupId>
					<artifactId>jing</artifactId>
					<version>20091111</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>