/* You can override this file with your own styles */
a{color:#589C37;text-decoration:none}
.nav-list>.active>a, .nav-list>.active>a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #589C37
}