#*
 *  Copyright 2009-2015 Université Paris Ouest and Sorbonne Universités,
 * 							Univ. Paris 06 - CNRS UMR
 * 							7606 (LIP6)
 *
 *  All rights reserved.   This program and the accompanying materials
 *  are made available under the terms of the Eclipse Public License v1.0
 *  which accompanies this distribution, and is available at
 *  http://www.eclipse.org/legal/epl-v10.html
 *
 *  Project leader / Initial Contributor:
 *    Lom Messan Hillah - <lom-messan.hillah@lip6.fr>
 *
 *  Contributors:
 *    L.M. Hillah - <$oemails}>
 *
 *  Mailing list:
 *    lom-messan.hillah@lip6.fr
 *#
 ------
Changelog of PNML Document Checker ${project.version}
 ------
 ------
2015-02
 ------

Changelog

* What's new in version ${project.version}?

  * New feature to remove all graphical information from a PNML Document.

* What's new in version 1.0.6?

  * New feature to check and report normalization issues. Parallel arcs detection in P/T Nets is supported.
  
  * New feature to normalize the PNML Document. Parallel arcs merging in P/T Nets is supported.
  
  * Corrects a bug in duplicate counting of the number of objects in the PNML Document
  
  * Introduces a factory to enable easier use (of CheckPnmlFile interface) as a direct dependency in a third-party software
  
  * Relies on version 2.2.6 of PNML Framework
  
  * Runs now on Java 1.8+
  

* What happened to version 1.0.5?

  It was instable, so it was not released. 

* What's new in version 1.0.4?

  * Relies on version 2.2.4 of PNML Framework

* What's new in version 1.0.2?
  
  * Relies on the stable release 2.2.1 of {{{http://pnml.lip6.fr/}PNML Framework}}.

* What's new in version 1.0.1?
  
  * Relies on the stable release 2.2.0 of {{{http://pnml.lip6.fr/}PNML Framework}}.

* What's new in version 1.0.0?

  * Support of P/T Nets in high-level notation.
  
  * Explicit message for unrecognised Petri Net type.
  
  * Various improvements for this maintenance release.
  
  * Upgrade of some dependencies

* What's new in version 0.2.14?

  * Updated Maven dependencies and some metadata information.

* What's new in version 0.2.13?

  * All dependencies are declared with their current version. Otherwise, since EMF and OCL
jars have the same artifactid, there is an irresolvable conflict.

* What's new in version 0.2.12?

  * Updated dependency to net.sourceforge.lpg.lpgjavaruntime, version 1.1.0-v200803061910.

* What's new in version 0.2.11?

  * Creation of a <download> folder in update site directory, to distribute the complete zip archive
of this application and its dependencies.
  
  []

