#*
 *  Copyright 2009-2015 Universite Paris Ouest and Sorbonne Universites,
 * 							Univ. Paris 06 - CNRS UMR
 * 							7606 (LIP6)
 *
 *  All rights reserved.   This program and the accompanying materials
 *  are made available under the terms of the Eclipse Public License v1.0
 *  which accompanies this distribution, and is available at
 *  http://www.eclipse.org/legal/epl-v10.html
 *
 *  Project leader / Initial Contributor:
 *    Lom Messan Hillah - <lom-messan.hillah@lip6.fr>
 *
 *  Contributors:
 *    L.M. Hillah - <$oemails}>
 *
 *  Mailing list:
 *    lom-messan.hillah@lip6.fr
 *#
 ------
Download PNML Document Checker ${project.version}
 ------
 ------
2015-01
 ------

Download PNML Document Checker ${project.version}

  PNML Document Checker is distributed as a single jar, ready to be used on command line,
  or as a library in your application for whatever purpose.

* Single jar with all dependencies

  Download it from {{{./download/fr.lip6.pnml.check-${project.version}.jar}this link}}.
  
  To access usage information, {{{./usage.html}follow this link}}.
  
Requirements

  * Runs on Java 1.8+
 
