<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (C) University Pierre & Marie Curie - UMR CNRS 7606 (LIP6/MoVe)
 All rights reserved.   This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
  
  Contributors: 
    Lom HILLAH (LIP6) - Initial models and implementation
    Rachid Alahyane (UPMC) - Infrastructure and continuous integration
    Bastien Bouzerau (UPMC) - Architecture
    Guillaume Giffo (UPMC)  - Code generation refactoring, high-level API

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///pthlpng.booleans.ecore" 
       class = "fr.lip6.move.pnml.pthlpng.booleans.BooleansPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///pthlpng.dots.ecore" 
       class = "fr.lip6.move.pnml.pthlpng.dots.DotsPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///pthlpng.hlcorestructure.ecore" 
       class = "fr.lip6.move.pnml.pthlpng.hlcorestructure.HlcorestructurePackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///pthlpng.multisets.ecore" 
       class = "fr.lip6.move.pnml.pthlpng.multisets.MultisetsPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///pthlpng.partitions.ecore" 
       class = "fr.lip6.move.pnml.pthlpng.partitions.PartitionsPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///pthlpng.terms.ecore" 
       class = "fr.lip6.move.pnml.pthlpng.terms.TermsPackage" />
  </extension>

</plugin>
